@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-track {
  background: #fcb72b;
}

.active {
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 3px;
  background: #fcb72b;
}
